@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@layer base {
    :root {
        --color-white: 0deg 0% 100%;
        --semi-dark-blue: 223deg 36% 13%;
        --greyish-blue: 223deg 23% 46%;
        --dark-blue: 224deg 30% 9%;
        --color-red: 0deg 97% 63%;
    }
}

ul::-webkit-scrollbar {
    width: 0;
}

.slider {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox  */
}

input:focus-within ~ label,
input:not(:placeholder-shown) ~ label {
    @apply transform scale-75 -translate-y-10;
} 

.recommended-img {
   width: 100%;
   height: auto;
}

/*
@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera 
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox 
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge
          scrollbar-width: none;  /* Firefox 
      }
    }
  }
  */
